/*colors*/
$main-color:#008E8A;
/*fonts*/
@font-face {
    font-family: poppins-bold;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: poppins-medium;
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: poppins-semiBold;
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  }
  @font-face {
    font-family: poppins-light;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
  }
  @font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0aaba7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .card{
    background-color: rgba(0 ,142 ,138,0.10);
    margin-bottom: 20px;
    border: 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 20px;
    img{
      margin-right:20px;
    }
  }
  .slider{
      background-color: rebeccapurple;
  }
  .side-bar{
    position: fixed;
    height: 100vh;
    left: 10px;
    top: 10px;
    z-index: 99;
    padding-bottom: 50px;
    width: 100px;
    z-index: 999;
    overflow-y: auto;

    background: $main-color;
    -webkit-transition: .3s;
    transition: .3s;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    text-align: center;
  }
  .side-bar.show{
    width: 270px;
  }
  
  .dashboard{
    transition: .5s;
    padding-left: 7rem;
    padding-top: 10px;
    .toggle-button{
      cursor: pointer;
    }
    .left-side-block{
      // padding-right: 152px;
      padding-right: 132px;
      .fa-align-right{
        color: $main-color;
        font-size: 25px;
      }
      .page-title{
        h1{
          font-size: 3rem;
          color: $main-color;
          font-family: poppins-semiBold;
        }
        span{
          color: $main-color;
          font-family: poppins-medium;
          font-size: 18px;
        }
      }
      .discreption{
        color: #438B83;
        padding: 10px 0;
        p{
          font-size: 12px;
          font-family: poppins-regular;
          margin-bottom: 5px;
        }
        h3{
          font-size: 1.7vw;
          color: $main-color;
          font-family: poppins-semiBold;
          margin-bottom: 5px;
        }
        .price{
          color: $main-color;
          font-size: 21px;
          font-family: poppins-regular;
          display: inline-block;
          margin-bottom: 5px;
        }
      }
    }
    .carousel.slide{
      .carousel-indicators{
        li{
          // background-image: url(../images/architecture-hall-hallway.png);
          margin: 0;
          padding: 10px;
          // background: red;
          text-indent: unset;
          flex: 0 1 auto;
        width: auto;
 
        }
      }
      .carousel-caption{
        bottom: 22%;
        left: 9%;
        text-align: left;
        span{
          font-family: poppins-regular;
        }
        h5{
          font-size: 5vw;
          font-family: poppins-medium;
        }
        button{
          margin-top: 75px;
          border: 0;
          padding: 5px 26px;
          border-radius: 8px;
          color: $main-color;
          font-family: poppins-medium;
        }
      }
    }
    .cards{
      height: 500px;
      overflow: auto;
      padding-right: 20px;
    }
  }

  .dashboard.side-content{
    padding-left: 17rem;
    transition: .5s;
    padding-top: 10px;
  }

.side-bar{
  .sideBar-title{
    font-size: 25px;
    display: inline-block;
    margin-left: 7px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 175px;
  }
    i{
      font-size: 28px;
      color: #69CCC1;
      cursor: pointer;
      &:hover{
        color: #ffffff;
      }
    }
    .sidebar-items{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      list-style-type: none;
      flex-direction: column;
      padding-left: 0;
      li{
        margin-bottom: 65px;
      }
    }
}
.title{
  display: none;
}
.carousel-indicators{
  cursor: pointer;
  left: 57%;
  li{
    // background-image: url(../images/architecture-hall-hallway.png);
    margin: 0;
    padding: 10px;
    background:#ffffff;
    text-indent: unset;
    flex: 0 1 auto;
    width: auto;
    height:69px;
    border-radius: 5px;
    &.active{
      height:59px;
      padding: 5px 3px !important;
      z-index: 999;
    }
    img{
      width: 50px;
    }
  }
}
.carousel-indicators .active{
  transform: scale(1.5);
}
.carousel-control-next, .carousel-control-prev{
  display: none;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .dashboard{
      &.side-content{
        padding-left: 0;
        padding-top: 19px;
      }
    .left-side-block{
      padding-right: 20px;
      margin-bottom: 50px;
    }
  }
  .card{
    flex-direction: column;
    text-align: center;
    img{
      width: 100%;
    }
  }
  .carousel-indicators{
    left: 0;
  }
  html,body{
    overflow: hidden;
  }
  .dashboard .left-side-block .page-title h1{
    font-size: 1rem;
  }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  .dashboard{
    .left-side-block{
      padding-right: 20px;
      margin-bottom: 50px;
    }
      &.side-content{
        padding-left: 0;
        padding-top: 19px;
      }
  }
  .carousel-indicators {
    left: 40%;
}
.dashboard .left-side-block .page-title h1{
  font-size: 2rem;
}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  .dashboard{
    .left-side-block{
      padding-right: 20px;
      margin-bottom: 50px;
    }
  }
  .col-md-6{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .dashboard{
    .left-side-block{
      padding-right: 6px;
      .card{
        zoom: 75%;
      }
    }
    .carousel-indicators{
      left: 45%;
    }
  }
   
}

[dir=rtl]{
  .side-bar{
    right: 10px;
    left: 0;
    border-radius: 0 40px 0 40px;
    .sidebar-items{
      padding-right: 0;
      padding-left: 0;
    }
  }
  .dashboard{
    padding-right: 7rem;
    padding-left: 0;
    &.side-content{
      padding-right: 17rem;
      padding-left: 0;
    }
    .left-side-block
    {
      padding-left: 132px;
      padding-right: 0;
     .discreption{
        text-align: right;
      }
    }
    .card{
      img{
        margin-left: 20px;
        margin-right: 0;
      }
    }
    .toggle-button,.page-title{
      text-align: right;
      padding-right: 24px;
    }
  }
  .carousel.slide{
    .carousel-caption{
      text-align: right;
      right: 9%;
      left: 0;
    }
  }
  .carousel-indicators{
    right: 57%;
    left: 0;
  }
  @media (max-width: 575.98px){
    .dashboard .left-side-block{
      padding-left: 20px;
      padding-right: 0;
    }
    .dashboard.side-content {
      padding-right: 0;
      padding-left: 0;
      padding-top: 19px;
  }
  }
  @media (min-width: 576px) and (max-width: 767.98px){
    .dashboard .left-side-block{
      padding-left: 20px;
      padding-right: 0;
      .carousel-indicators {
        right: 40%;
        left: 0;
    }
    }
    .dashboard.side-content {
      padding-right: 0;
      padding-left: 0;
      padding-top: 19px;
  }
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    .dashboard .left-side-block{
      padding-left: 20px;
      padding-right: 0;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px){
    .carousel-indicators{
      right: 45%;
      left: 0;
    }
  }
}